<ion-header>
  <ion-toolbar color="redd">
    <ion-title>About FunIndonesia </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <p>
      FunIndonesia is an application for users to know more about Indonesia and
      its culture. This application was made in accordance to Computer Science
      Innovative Challenge made by Universitas Multimedia Nusantara. We hope by
      this application everyone can learn something new about Indonesia whether
      you are a foreigner or a native.
    </p>
  </ion-text>
</ion-content>
