<ion-header>
  <ion-toolbar color="redd">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Language</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label> Indonesia (ID) </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> English (EN) </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
