<ion-header>
  <ion-toolbar color="redd">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <form class="ion-padding">
    <ion-item>
      <ion-label position="stacked"><b>Username</b></ion-label>
      <ion-input type="text" placeholder="Your username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Email</b></ion-label>
      <ion-input type="text" placeholder="Your e-mail" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Mobile Number</b></ion-label>
      <ion-input type="text" placeholder="Mobile Number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Password</b></ion-label>
      <ion-input
        type="password"
        placeholder="Enter your password"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Confirm Password</b></ion-label>
      <ion-input
        type="password"
        placeholder="Confirm your password"
        required
      ></ion-input>
    </ion-item>
  </form>
  <ion-button
    class="ion-padding"
    color="redd"
    expand="block"
    (click)="loginPage()"
    >Register</ion-button
  >
  <ion-button
    class="ion-padding"
    color="redd"
    fill="clear"
    expand="block"
    (click)="loginPage()"
    ><b>Already have an account? Login here.</b></ion-button
  > -->
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" 
        *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
        {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-control" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" 
        *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-button class="submit-btn" type="submit" expand="block" color="redd" [disabled]="!validations_form.valid">Register</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <ion-button
    class="ion-padding"
    color="danger"
    fill="clear"
    expand="block"
    (click)="loginPage()"
    ><b>Already have an account? Login here.</b></ion-button>
</ion-content>
