<ion-header>
  <ion-toolbar color="redd">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding">
    <ion-item>
      <ion-label position="stacked"><b>Username</b></ion-label>
      <ion-input type="text" placeholder="Your username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Email</b></ion-label>
      <ion-input type="text" placeholder="Your e-mail" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Mobile Number</b></ion-label>
      <ion-input type="text" placeholder="Mobile Number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Password</b></ion-label>
      <ion-input
        type="password"
        placeholder="Enter your password"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><b>Confirm Password</b></ion-label>
      <ion-input
        type="password"
        placeholder="Confirm your password"
        required
      ></ion-input>
    </ion-item>
  </form>
  <ion-button
    class="ion-padding"
    color="redd"
    expand="block"
    (click)="loginPage()"
    >Register</ion-button
  >
  <ion-button
    class="ion-padding"
    color="redd"
    fill="clear"
    expand="block"
    (click)="loginPage()"
    ><b>Already have an account? Login here.</b></ion-button
  >
</ion-content>
