<ion-header>
  <ion-toolbar color="redd">
    <ion-title>Add Review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" fill="clear">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
      <ion-row>
        <ion-col>
          <span class="place-title">Rate Your Experience</span>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
