.place {
  &-title {
    font-weight: bold;
    font-size: 16px;
    color: black;
  }
  &-subtitle {
    font-size: 12px;
    color: black;
  }
}

ion-toolbar {
  --background: transparent;
  --border: none;
}

// ion-content {
//   --background: url("../../../../assets/dummy/Fatahillah.jpg");
// }

.btn-back {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

#top-rating{
  ion-icon{
    width:18px;
    height:20px;
    
  }
}

#map {
  height:200px;
  width: 100%;
}