/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
#top-rating{
    margin-top: 5px;
    ion-buttons {
        float: left;
    }
    ion-button {
        width: 26px !important;
        height: 20px !important;
        display: contents;
    }
    ion-icon {
        width: 18px;
        height: 20px;
        color: gray;

        &.filled {
            //color: #ffb400;
            color: var(--ion-color-new) !important;
        }
    }
  }

  #all-rating{
    margin-top: 5px;
    ion-buttons {
        float: left;
    }
    ion-button {
        width: 20px !important;
        height: 12px !important;
        display: contents;
    }
    ion-icon {
        width: 12px;
        height: 14px;
        color: gray;

        &.filled {
            //color: #ffb400;
            color: var(--ion-color-new) !important;
        }
    }
  }


.sc-ion-buttons-md-s {
    --padding-start: 0px;
    --padding-end: 0px;
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
    --border-radius: 0;
}