.message {
    font-size: 16px;
    line-height: 2;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    padding: 5px 16px 5px 16px;
  }
  .sign-message img {
    height: 140px;
    margin: 0;
  }
  
  .header-md:after {
    background-image: unset;
  }
  .subtitle {
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    padding: 0px 16px 0px 16px;
  }
  .green {
    color: #25ae88;
    font-size: 12px;
  }
  .gray {
    color: #c7c7c7;
    font-size: 14px;
  }
  